.container {
    width: 820px;
    height: 650px;
    margin: 0 auto;
    border: 1px solid black;
}

.header {
    background-color: #0a3544;
    width: 100%;
    height: 100px;
}

.logo {
    background-color: beige;
    width: 20%;
    height: 100%;
    float: left;
}

.banner {
    background-color: orange;
    width: 80%;
    height: 100%;
    float: left;
}

.content {
    width: 100%;
    height: 500px;
}

.form-search {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 8px;
    background-color: #b5bd68;
    width: 98%;
    height: 30px;
    float: left;
}

.introduction {
    width: 20%;
    height: 400px;
    float: left;
}

.introduction-content {
    background-color: #baeeba;
    width: 100%;
    height: 150px;
    float: left;
}
.example {
    margin-top: 6px;
    background-color: #d0a0d0;
    width: 100%;
    height: 200px;
    float: left;
}
.center {
    margin-left: 2px;
    width: 61%;
    height: 457px;
    float: left;
}

.hot-new {
    background-color: orange;
    width: 49%;
    height: 140px;
    float: left;
}

.photo-slide {
    margin-left: 7px;
    background-color: deepskyblue;
    width: 49%;
    height: 140px;
    float: left
}

.new {
    margin-top: 2px;
    margin-left: 1.5px;
    background-color: darkgrey;
    width: 33%;
    height: 135px;
    float: left
}

.extension {
    margin-left: 3px;
    width: 18%;
    height: 457px;
    float: left;
}

.calendar {
    background-color: plum;
    width: 100%;
    height: 152px;
    float: left;
}

.chart {
    margin-top: 2px;
    background-color: #1c7430;
    width: 100%;
    height: 140px;
    float: left;
}

.map {
    margin-top: 2px;
    background-color: green;
    width: 100%;
    height: 158px;
    float: left;
}
.link{
    margin-top: 0.5px;
    background-color: #e1e1e8;
    width: 60%;
    height: 99%;
    float: left;
}
.searched {
    display: inline-flex;
    list-style: none;
    margin-top: 2.5px;
    float: left;
}

.form {
    background-color: #e1e1e8;
    width: 40%;
    height: 100%;
    float: left;
}

.footer {
    background-color: #0E0EFF;
    width: 100%;
    height: 50px;
}
.signature{

    background-color: #e1e1e8;
    width: 40%;
    height: 100%;
    float: left;
}
.searched-right{
    display: inline-flex;
    list-style: none;
    margin-top: 2.5px;
    float: right;
}

